.slick-prev {
    left: 15% !important;
    z-index: 1;
    color: green !important;
    opacity: 25% !important;
  }
  .slick-next {
    right:15% !important;
    z-index: 1;
    color: green !important;
    opacity: 25% !important;
  }
  .slick-slide, .slick-slide *{ outline: none !important; }