.slick-prev {
    opacity: 0.25 !important;
    left: 15% !important;
    z-index: 1 !important;
    color: green !important;
  }
  .slick-next {
    opacity: 0.25 !important;
    right:15% !important;
    z-index: 1 !important;
    color: green !important;
  }
  .slick-slide, .slick-slide *{ outline: none !important; }